<div class="row">
  <md-card class="col-md-2 login-wrap">
    <md-card-header>
      <div md-card-avatar class="example-header-image"></div>
      <md-card-title>Login</md-card-title>
      <md-card-subtitle>Log in to Kii</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <md-input-container class="input">
          <input md-input placeholder="User name" [(ngModel)]="credential.username">
        </md-input-container>
        <md-input-container class="input">
          <input md-input placeholder="Password" [(ngModel)]="credential.password">
        </md-input-container>
    </md-card-content>
    <md-card-actions class="buttons">
      <button md-raised-button [color]="'accent'" (click)="login()">Login</button>
    </md-card-actions>
  </md-card>
</div>
